$primary-darkblue: #053c5e;
$primary-lightblue: #7ec8e3;
$primary-white: #ffffff;
$primary-green: #5c940d;
$primary-lightgreen: #4caf50;

$secondary-darkslate: #4a5568;
$secondary-cloud: #bdc5d5;

$background-graphite: #232940;
$background-lightblue: #96bac2;
$background-lightgrey: #f7f8f9;

$primary-red: #c94515;
$primary-black: #000000;

$silver: #afafaf;
$mercury: #e1e1e1;
$alabaster: #fafafa;

$borderColor: $mercury;
$calculatorBackground: $background-lightgrey;
$tableChartBackground: $primary-white;